*.obj
*.exe
*.dll
*.pdb
*.user
*.suo
*.cache
*.log
*.vspscc
*_i.c
*_p.c
*.ilk
*.bak
*.ncb
*.opendb
*.sdf
*.scc
*.docstates
*.sqlite
*.suo
*.tlog
*.tps
*.ipch
*.ncb
*.resharper
*.[Rr]e[Ss]harper
*.snk
*.Cache
*.Service
*.ncb
*.cache
*.ilk
*.log
*.logxml
*.manifest
*.res
*.resources
*.obj
*.pch
*.userprefs
*.exe
*.dll
*.png
*.gif
*.jpg
*.jpeg
*.bmp
*.tif
*.tiff
*.h
*.pch
*.ipch
*.svclog
*.vspx
*.ucctag
*.brcc
*.sbr
*.tlb
*.tlh
*.tmp
*.rc
*.rc2
*.dlg
*.db
*.pdb
*.idb
*.clw
*.aps
*.exp
*.lib
*.scc
*.btr
*.map
*.aps
*.aps
*.iobj
*.asmx
*_svn
*_cvs
*.scc
*.ilk
*.log
*.ini
*.old
*.bat
*.tmp
*.map
*.pch
*.rsp
*.vssscc
.vspscc
*.psess
*.chk
*.lib
*.db
*.pdb
*.idb
*.log
/*/.vs
*.tlog
*.lastbuildstate
*.user
*.suo
*.sln.docstates
bin/
obj/
TestResults/
_ReSharper*/
[Tt]est[Rr]esult*/